<h1 id="Server Rest Example with JWT">Thinkific Test</h1>
<h2 id="Python">Python Test</h2>
<ul>
<li><p>Test Project made by back-end developer</p></li>
<li><p>Created web application with endpoints.</p></li>
<li><p>Database used was redis, to storage users-mail, password and token.</p></li>
<li><p>Test Coverage 91%</p></li>
<li><p>Version: github</p></li>
<li><p>Application supports windows and linux</p></li>
<li><p>Used lib(gunicorn) to use wsgi application.</p></li>
<li><p>To deploy this application need to create a redis database</p></li>
<li><p>Redis database is in a zip file in this repository, just unzip and start <code>redis-server</code> as administrator in <code>c:\redis</code></p></li>
<li><p>Put the application on Kibana Elastic Search and Google Auth</p></li>
</ul>

<h2 id="commands-local">Commands Local:</h2>
<p>================= User Genarate Token =================</p>
<pre><code>curl -X POST \
  http://localhost:5000/registration \
  -H &#39;Content-Type: application/json&#39; \
  -d &#39;{
    &quot;username&quot;: &quot;your mail&quot;,
    &quot;password&quot;: &quot;your password&quot;
}&#39;</code></pre>
<p>========================Current========================</p>
<pre><code>curl -X GET \
  http://127.0.0.1:5000/current \
  -H &#39;Authorization: Bearer your token&#39; \
  -H &#39;Content-Type: application/json&#39; \</code></pre>
<p>========================Next============================</p>
<pre><code>curl -X GET \
  http://127.0.0.1:5000/next \
   -H &#39;Authorization: Bearer your token&#39; \
   -H &#39;Content-Type: application/json&#39; </code></pre>
<p>=======================New Current======================</p>
<pre><code>curl -X PUT \
  http://127.0.0.1:5000/current \
  -H &#39;Authorization: Bearer your token&#39; \
  -H &#39;Content-Type: application/json&#39; \
  -d &#39;{&quot;current&quot;: 1155}&#39;</code></pre>
<p>========================Refresh Token ================== * Remember if you refresh your token, the access token will change for a new one</p>
<pre><code>curl -X POST \
  http://localhost:5000/refresh \
  -H &#39;Authorization: Bearer your refresh token&#39; \
  -H &#39;Content-Type: application/json&#39;</code></pre>
<p>=======================Retrieve Token ==================</p>
<pre><code>curl -X POST \
  http://localhost:5000/retrieve \
  -H &#39;Content-Type: application/json&#39; \
  -d &#39;{
    &quot;username&quot;: &quot;your user e-mail&quot;,
    &quot;password&quot;: &quot;your password&quot;
}&#39;</code></pre>
